div
  theme-card(v-for="(theme, index) in latestThemes", :data-index="index", direction="horizontal", card-class="is-primary").has-bottom-margin
    flush-img(slot="screenshot", :src="theme.screenshotUrl", height="135")
    h4(slot="title") {{theme.title}}
    p(slot="description") {{theme.description}}
    p(slot="author-displayname") Full Name here
    h6(slot="author-username") @{{theme.author}}
    img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
