div
  b-container
    b-section
      b-columns
        b-column
          b-box
            search-field
        b-column
          b-box
            h1 Latest themes
            hr
            showcase
  attributor
