div
  navbar
  b-box(is-primary, is-marginless)
    b-container
      b-level
        b-level-left
          p Debug info:
          .spacer
          b-tag(v-if="process.polyfills") Polyfill count: {{process.polyfills.length}}
          .spacer
          b-tag Avg. FPS: {{process.averageFps}}
          .spacer
          b-tag Loading: {{loading}}
          .spacer
          b-tag Client: {{process.browser ? 'browser' : 'server'}}
          .spacer
          b-tag State themes: {{themes.length}}
          .spacer
          b-tag State users: {{users.length}}
  transition(
    @before-enter="beforeAppear",
    @enter="appear",
    @leave="none",
    :css="false"
  )
    router-view.ouc-app-root
