div
  navbar
  b-box(is-primary, is-marginless)
    b-container
      b-columns
        b-column(has-text-centered)
          b-tag.button.is-secondary(@click="clearCache") Clear cache
        b-column(has-text-centered)
          b-tag(v-if="process.polyfills") Polyfill count: {{process.polyfills.length}}
        b-column(has-text-centered)
          b-tag Avg. FPS: {{process.averageFps}}
        b-column(has-text-centered)
          b-tag Loading: {{loading}}
        b-column(has-text-centered)
          b-tag Client: {{process.browser ? 'browser' : 'server'}}
        b-column(has-text-centered)
          b-tag State themes: {{themes.length}}
        b-column(has-text-centered)
          b-tag State users: {{users.length}}
  transition(
    @before-enter="beforeAppear",
    @enter="appear",
    @leave="none",
    :css="false"
  )
    router-view.ouc-app-root
