div
  navbar
  b-box(is-primary, is-marginless)
    b-container
      b-level
        b-level-left
          p Debug info:
          .spacer
          b-tag FPS: {{process.fps}}
          .spacer
          b-tag Animations: {{process.animations}}
          .spacer
          b-tag Loading: {{loading}}
          .spacer
          b-tag Client: {{process.browser ? 'browser' : 'server'}}
          .spacer
          b-tag State themes: {{themes.length}}
          .spacer
          b-tag State users: {{users.length}}
          .spacer
          b-tag State session: {{!!session}}
  transition(
    @before-enter="beforeAppear",
    @enter="appear",
    @leave="none",
    :css="false"
  )
    router-view.ouc-app-root
