/* vue:scoped */

@mixin img-transition {
  transition-property: filter, transform, opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

div {
  background-repeat: no-repeat;
}

.ouc-flush-img-root {
  overflow: hidden;

  > * {
    @include img-transition;
    height: 100%;
    width: 100%;
  }
}

.unloaded {
  &.ouc-flush-img-cover {
    filter: blur(5px);
    opacity: 1;
  }

  &.ouc-flush-img-real {
    opacity: 0;
  }
}

.loaded {
  &.ouc-flush-img-cover {
    filter: blur(5px);
    opacity: 0;
  }

  &.ouc-flush-img-real {
    opacity: 1;
  }
}
