div
  b-container
    b-section
      b-columns
        b-column
          search-field
          hr
          b-box
            h2 Themes by website
            hr
            chip(v-for="site in popularSites", :host="site.domain")
              p(slot="content") {{site.domain}}
          b-box
            h2 Popular themes
            hr
            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in popularThemes")
                theme-card(small=true, :data-index="index", direction="horizontal", card-class="is-primary").has-bottom-margin
                  flush-img(slot="screenshot", :source="theme.screenshotUrl", placeholder="/img/main.bg-x128.png", height="100%", width="100%")
                  h5(slot="title") {{theme.title}}
                  p(slot="author") by {{theme.author}}
                  img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")

        b-column
          b-box
            h2 Latest themes
            hr
            showcase
  attributor
