div
  b-container
    div
      b-section
        notification(v-show="actionErrors.length > 0", icon="alert", color="is-danger").is-danger
          div(slot="content")
            p(v-for="error in actionErrors") {{error}}
        search-field.has-bottom-margin
        b-columns
          b-column
            b-box
              h2 Newest themes
              hr
              theme-card(v-if="themes.length !== 0", v-for="(theme, index) in limitBy(themes, 3)", :themeId="theme._id", :data-index="index", direction="horizontal", card-class="is-primary").has-bottom-margin
                //- flush-img(slot="screenshot", :source="theme.screenshotUrl", placeholder="/img/main.bg-x128.png", height="154px")
                h4(slot="title") {{theme.title}}
                p(slot="description") {{theme.description}}
                h6(slot="author") by {{theme.user.displayname}}, {{theme.createdAt | moment('from', 'now')}}

          b-column
            b-box
              h2 Popular themes
              hr

  attributor
