div.route-root
  b-container
    div
      .section
        b-columns
          b-column
            h2.has-bottom-margin Newest themes
            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in limitBy(latestThemes, 6)")
                  theme-card(
                    :small="true",
                    :theme-id="theme._id",
                    :data-index="index",
                    direction="horizontal",
                    card-class="is-primary",
                    itemtype="SoftwareApplication"
                  ).has-bottom-margin
                    b-tile(slot="content", is-parent)
                      b-columns
                        b-column
                          h4(itemprop="name") {{theme.title}}
                          h6(itemprop="author", itemtype="Person") by {{theme.user.displayname}}
                            meta(itemprop="name", :value="theme.user.displayname")
                            meta(itemprop="url", :value="'/profile/' + theme.user._id")
                          h6 {{theme.createdAt | moment('from', 'now')}}
                          meta(itemprop="dateCreated", :value="theme.createdAt")
                          meta(itemprop="dateModified", :value="theme.lastUpdate")
                          meta(itemprop="url", :value="'/theme/' + theme._id")

          b-column
            h2.has-bottom-margin Popular themes
            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in limitBy(popularThemes, 6)")
                theme-card(:small="true", :theme-id="theme._id", :data-index="index", direction="horizontal", card-class="is-primary").has-bottom-margin
                  b-tile(slot="content", is-parent)
                    b-tile(is-child)
                      h4 {{theme.title}}
                      div(v-if="averageRating(theme.ratings) === 0")
                        br
                        p Not rated yet
                      div(v-if="averageRating(theme.ratings) !== 0")
                        br
                        star-rating(
                          :rating="averageRating(theme.ratings)",
                          :item-size="10",
                          :show-rating="false",
                          :read-only="true"
                        )
                      h6 by {{theme.user.displayname}}
                      p(v-if="theme.ratings.length === 0") Not rated yet
                      p(v-if="theme.ratings.length !== 0") Has {{theme.ratings.length}} ratings

  ouc-footer
