div.route-root
  b-container
    div
      .section
        b-columns
          b-column
            h2.has-bottom-margin Newest themes
            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in limitBy(latestThemes, 6)")
                theme-card(:small="true", :theme-id="theme._id", :data-index="index", direction="horizontal", card-class="is-primary").has-bottom-margin
                  b-tile(slot="content", is-parent)
                    b-columns
                      b-column
                        h4 {{theme.title}}
                        div(v-if="averageRating(theme.ratings) === 0")
                          br
                          p Not rated yet
                        div(v-if="averageRating(theme.ratings) !== 0")
                          br
                          star-rating(
                            :rating="averageRating(theme.ratings)",
                            :item-size="10",
                            :show-rating="false",
                            :read-only="true"
                          )
                        h6 by {{theme.user.displayname}}
                        h6 {{theme.createdAt | moment('from', 'now')}}

          b-column
            h2.has-bottom-margin Popular themes
            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in limitBy(popularThemes, 6)")
                theme-card(:small="true", :theme-id="theme._id", :data-index="index", direction="horizontal", card-class="is-primary").has-bottom-margin
                  b-tile(slot="content", is-parent)
                    b-tile(is-child)
                      h4 {{theme.title}}
                      h6 by {{theme.user.displayname}}
                      p(v-if="theme.ratings.length === 0") Not rated yet
                      p(v-if="theme.ratings.length > 1") Rated by {{theme.ratings.length}} people
                      p(v-if="theme.ratings.length === 1") Rated by {{theme.ratings.length}} person

  ouc-footer
