| OpenUserCSS - 
block title
|
|
| ------------------------------------------------------------------------------
|
| Hey #{displayname || user.displayname},
|
|
block content
|
|
| ------------------------------------------------------------------------------
|
| You've received this e-mail because 
block reason
|  on OpenUserCSS.
| To write a message, please visit #{domainUrl}/contact
