@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Nunito';
    font-size: responsive;
    max-font-size: ((10px - $i * 4) + 30px);
    min-font-size: ((11px - $i * 4) + 25px);
  }
}

p,
a,
li,
ul {
  font-family: 'Nunito';
  font-size: responsive;
  line-height: 22px;
  max-font-size: 16.5px;
  min-font-size: 15px;
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

.dropdown-toggle.clearfix {
  border-radius: 0;
}

body.v--modal-block-scroll {
  overflow: auto !important;
  position: initial !important;
  width: initial !important;
}

div[itemprop],
div[itemtype] {
  display: none
}

.content {
  ul {
    list-style: disc;
    padding-left: 35px;
  }

  ol {
    list-style: decimal;
    padding-left: 35px;
  }

  &:not(.is-warning) a {
    background-color: nth($primary, 2);
    color: nth($primary, 1);
  }

  &.is-warning a {
    background-color: nth($warning, 2);
    color: nth($warning, 1);
  }
}

.container {
  width: 100%;
}
