@charset 'UTF-8';

@import '../../node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';
@import '../../node_modules/md-shadows/md-shadows';

@import './component';
@import './overrides/all';

@import './components/branding';
@import './components/helpers';
@import './components/shadows';

@for $i from 1 through 6 {
  h#{$i} {
    font-size: responsive;
    max-font-size: ((10px - $i * 4) + 30px);
    min-font-size: ((11px - $i * 4) + 25px);
  }
}

p,
a,
li,
div,
ul,
span,
b,
i {
  font-size: responsive;
  line-height: 22px;
  max-font-size: 16.5px;
  min-font-size: 15px;
  text-decoration: none;
}

$background: map-get($colors, 'background');

#wrapper {
  background-color: nth($background, 1);

  @include brand-gradient;
}

#title > table,
#content > table,
#footer > table {
  max-width: 600px !important;
  min-width: 200px !important;
  width: 100% !important;
  margin-top: 16px;
  margin-bottom: 16px;
}

#footer * {
  font-size: 12px;
}

body {
  overflow-x: hidden !important;
}

a {
  color: white !important;

  &:not(.button) {
    text-decoration: underline !important;
  }
}

.button {
  min-width: 128px !important;
  width: 128px !important;
  border-radius: 0 !important;
}

pre {
  &.link-holder {
    max-width: 300px !important;
    min-width: 200px !important;
    white-space: pre-wrap !important;
  }
}

.is-centered {
  margin: 0 auto;
}

.break-word {
  word-wrap: break-word !important;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
}

@for $i from 1 through 10 {
  .has-padding-#{$i} {
    padding: $i * 16px !important;
  }

  .has-padding-top-#{$i},
  .has-padding-vertical-#{$i} {
    padding-top: $i * 16px !important;
  }
  .has-padding-bottom-#{$i},
  .has-padding-vertical-#{$i} {
    padding-bottom: $i * 16px !important;
  }
  .has-padding-left-#{$i},
  .has-padding-horizontal-#{$i} {
    padding-left: $i * 16px !important;
  }
  .has-padding-right-#{$i},
  .has-padding-horizontal-#{$i} {
    padding-right: $i * 16px !important;
  }
}
