extends ../main

block title
  | Account details changed - E-mail address

block content
  +row
    p.
      The e-mail address associated with your OpenUserCSS account has
      been changed to a different one.
  
  +row
    p.
      Please log into your new e-mail account and find the verification
      message you should just have gotten and click the link inside.

  +row
    p.
      If you did this by mistake or changed your mind, you need to change
      your address back and request a verification e-mail afterwards.

  +row
    p.
      If you didn't make this change, someone has gotten into your
      OpenUserCSS account. In this case, you should change your passphrase
      immediately.

  +row(align="right")
    | #{signoff}

block reason
  | someone (hopefully you) changed your e-mail address
