div
  navbar(is-primary)
    navbar-brand
      navbar-item
        span OpenUserCSS
    navbar-menu
      navbar-start
      navbar-end
        navbar-item
          icon(icon="home")
          a(href="/") Home
        navbar-item
          icon(icon="folder-multiple")
          a(href="/browse") Browse
        navbar-item
          icon(icon="forum")
          a(href="//forums.openusercss.org") Forums
