docker;docker -v#Docker version 18
docker-compose;docker-compose -v#docker-compose version 1.21;https://github.com/docker/compose/releases/download/1.21.0/docker-compose-Linux-x86_64
docker-clean;docker-clean --version#2.0;https://raw.githubusercontent.com/ZZROTDesign/docker-clean/v2.0.4/docker-clean
id;id --version | head -1#(GNU coreutils) 8
read;type read#is a shell builtin
wait;type wait#is a shell builtin
cp;cp --version | head -1#(GNU coreutils) 8
sudo;sudo --version#Sudo version 1.8
wget;wget --version#GNU Wget 1
curl;curl --version#(x86_64-pc-linux-gnu) libcurl/7
chmod;chmod --version | head -1#(GNU coreutils) 8
mkdir;mkdir --version | head -1#(GNU coreutils) 8
cat;cat --version | head -1#(GNU coreutils) 8
uname;uname --version | head -1#(GNU coreutils) 8
whoami;whoami --version | head -1#(GNU coreutils) 8
seq;seq --version | head -1#(GNU coreutils) 8
tee;tee --version | head -1#(GNU coreutils) 8
tr;tr --version | head -1#(GNU coreutils) 8
du;du --version | head -1#(GNU coreutils) 8
rm;rm --version | head -1#(GNU coreutils) 8
diff;diff --version | head -1#(GNU diffutils) 3
sha512sum;sha512sum --version | head -1#(GNU coreutils) 8
bash;bash --version#GNU bash, version 4
hostess;hostess --version#hostess version 0.3;https://github.com/cbednarski/hostess/releases/download/v0.3.0/hostess_linux_amd64
printf;printf .%s -#.-
git;git --version#git version 2
nc;nc -h 2>&1 | grep netcat#OpenBSD netcat
pv;pv --version#pv 1.6
awk;awk --version#GNU Awk 4
