- const thisYear = new Date().getFullYear()

mixin metas
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="robots", content="index,follow,noodp")
  meta(name="googlebot", content="index,follow")
  meta(name="mobile-web-app-capable", content="yes")
  link(rel="icon", type="image/png", href="/img/openusercss.icon-x32.png")
  link(rel="manifest", href="/manifest.json")

mixin bottom-assets
  script(type="text/javascript", src="/js/index.js", defer)
  link(type="text/css", rel='stylesheet', href='/css/bundle.min.css')

mixin frame
  doctype html
  html.no-js
    head
      title OpenUserCSS
      +metas
      body
        //- include ../partials/loading-indicator
        //- include ../partials/noscript
        if block
          block
      +bottom-assets

+frame
  block page
