/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@import 'node_modules/bulma/sass/utilities/all';
@import 'node_modules/bulma/sass/base/all';

@import 'node_modules/bulma/sass/layout/section';
@import 'node_modules/bulma/sass/elements/button';
@import 'node_modules/bulma/sass/elements/box';
@import 'node_modules/bulma/sass/elements/container';
@import 'node_modules/bulma/sass/elements/content';

.box {
  &.is-warning {
    background-color: nth($warning, 1);
    color: nth($warning, 2);
  }

  &.is-primary {
    background-color: nth($primary, 1);
    color: nth($primary, 2);
  }
}

@import '../../../client/scss/reboot';
