transition(
  appear,
  v-on:before-appear="leftRightBeforeAppear",
  v-on:appear="leftRightAppear",
  :css="false"
)
  b-card(v-if="direction === 'vertical'").ouc-theme-card
    b-card-image
      slot(name="screenshot").ouc-theme-screenshot
    b-card-header
      b-card-header-title.ouc-theme-title
        slot(name="title")
    b-card-content
      b-media
        b-media-left
          slot(name="author-avatar")
        b-media-content
          slot(name="author-displayname")
          slot(name="author-username")
      slot(name="description")

  div(v-else="direction === 'vertical'", :class="cardClass")
    b-box(is-paddingless)
      b-tile(is-parent, is-paddingless)
        b-tile(is-4, is-child).ouc-theme-screenshot
          slot(name="screenshot", :height="height").ouc-screenshot
        b-tile(is-8).ouc-theme-metadata
          b-tile(is-parent, is-vertical)
            b-tile(is-child)
              slot(name="title")
            b-tile(is-child)
              slot(name="description")
