transition(
  appear,
  v-on:before-appear="beforeAppear",
  v-on:appear="appear",
  v-bind:css="false"
)
  b-card.ouc-theme-card
    b-card-image
      slot(name="screenshot").ouc-screenshot
    b-card-header
      b-card-header-title.ouc-theme-title
        slot(name="title")
    b-card-content
      b-media
        b-media-left
          slot(name="author-avatar")
        b-media-content
          slot(name="author-displayname")
          slot(name="author-username")
      slot(name="description")
