extends ../textonly

block title
  | Account details changed - E-mail address

block content
  | The e-mail address associated with your OpenUserCSS account has
  | been changed to a different one.
  |
  | Please log into your new e-mail account and find the verification
  | message you should just have gotten and click the link inside.
  |
  | If you did this by mistake or changed your mind, you need to change
  | your address back and request a verification e-mail afterwards.
  |
  | If you didn't make this change, someone has gotten into your
  | OpenUserCSS account. In this case, you should change your passphrase
  | immediately.
  |
  | #{signoff}

block reason
  | someone (hopefully you) changed your e-mail address
