transition(
  appear,
  v-on:before-appear="topBottomBeforeAppear",
  v-on:appear="topBottomAppear",
  v-bind:css="false"
)
  b-box(is-paddingless).ouc-user-card
    b-column(is-paddingless)
      b-tile(is-parent, is-paddingless)
        b-tile(is-4)
          b-tile(is-child).ouc-user-avatar
            flush-img(:src="user.avatarUrl", height="185", align="left").contain
        b-tile(is-8)
          b-tile(is-parent)
            b-tile(is-parent)
              b-tile(is-child, is-parent, is-vertical, is-paddingless)
                h2 {{user.displayname}}
                br
                p {{user.themes.length}} themes
                p {{user.installs}} installs
                p Average rating: {{user.rating}}
                b-level
                  b-level-left(is-mobile)
                    icon(v-if="isOnline(user.lastOnline)", icon="circle", color="#06BC5A")
                    p.ouc-last-seen {{lastOnlineDisplay}}
