extends ../textonly

block title
  | Account details changed - Passphrase

block content
  | Your passphrase has been changed.
  |
  | There is no need for verification, but if you didn't do this,
  | your account was logged into by someone you shouldn't trust.
  |
  | To reset your passphrase, please go to #{domainUrl}/account
  |
  | Stay safe!

block reason
  | someone (hopefully you) changed your passphrase
