$diff: colour-diff(map-get($tones, 'brand-dark'), map-get($tones, 'brand-primary'));

@mixin brand-gradient(
  $from: map-get($tones, 'brand-dark'),
  $to: saturate(adjust-hue(lighten($from, map-get($diff, 'lighten')), map-get($diff, 'adjust-hue')), map-get($diff, 'saturate')),
  $brush: 100%,
  $center: 50%
) {
  background: linear-gradient(130deg, $from $center - $brush / 2, $to $center + $brush / 2);
  color: text-for-bg(mix($from, $to));
}
