div.route-root
  b-container
    b-section
      b-box.mw500.is-centered(v-show="loading")
        div
          h3 Verifying your e-mail address...
          hr
          spinner(
            :spinning="loading",
            :size="100"
          )
      div(v-show="success !== null")
        b-box.bg-success.mw500.is-centered(v-show="!loading && success === true")
          p Your e-mail address was successfully verified
        b-box.bg-danger.mw500.is-centered(v-show="!loading && success === false")
          p E-mail address verification failed
        b-box.bg-danger.mw500.is-centered(v-show="!loading && success !== false && !success")
          p An error occurred while verifying your address

  ouc-footer
