mixin metas
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

mixin assets
  link(type="text/css", rel='stylesheet', href='/css/email.min.css')

mixin frame
  doctype html
  html(lang="en").no-js
    head
      title OpenUserCSS
      +metas
      +assets
      body
        if block
          block

+frame
  block page
