/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@import 'node_modules/bulma/sass/utilities/all';

@import 'node_modules/bulma/sass/grid/tiles';
@import 'node_modules/bulma/sass/elements/notification';

.notification {
  padding: 32px;
}

.ouc-icon-wrapper {
  align-items: center;
  justify-content: center;
}

@import '../../../client/scss/reboot';
