/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@import 'node_modules/bulma/sass/utilities/all';
@import 'node_modules/bulma/sass/base/all';

@import 'node_modules/bulma/sass/layout/footer';
@import 'node_modules/bulma/sass/grid/columns';
@import 'node_modules/bulma/sass/grid/tiles';
@import 'node_modules/bulma/sass/elements/container';
@import 'node_modules/bulma/sass/elements/content';

.footer {
  bottom: 0;
  position: absolute;
  padding-bottom: 48px;
  width: 100%;
}

@import '../../../client/scss/reboot';
