div
  b-footer
    b-columns
      b-column(has-text-centered)
        span Copyright&nbsp;&copy;&nbsp;{{new Date().getFullYear()}} 
        a(href="//github.com/DecentM") DecentM 
        span and 
        a(href="//github.com/OpenUserCSS/app") Contributors
      b-column(has-text-centered)
        icon(icon="github-circle")
        a(href="//github.com/OpenUserCSS") GitHub
      b-column(has-text-centered)
        icon(icon="email-variant")
        a(href="/contact") Contact the administrator
