/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../client/scss/variables';

.ouc-app-root {
  background-color: $white;
  position: absolute;
  width: 100%;
  min-height: calc(100vh - #{$navbar-height})
}
