div(:style="\
  'width: ' + width + ';\
  height: ' + height + ';'\
").ouc-flush-img-root
  div(
    :style="\
      'background-image: url(' + src + ');\
      width: ' + width + ';\
      height: ' + height + ';\
      background-position: ' + align + ';\
      background-size: ' + mode + ';'\
  ")
