label.switch(:class='classObject')
  input.checkbox(ref='input', type='checkbox', v-model='checked', @change='input', v-bind='{\
  id,\
  name,\
  value,\
  disabled,\
  required,\
  class: inputClass\
  }')
