/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';
@import 'node_modules/bulma/sass/utilities/derived-variables';

.switch {
  --height: $size-normal;

  input {
    opacity: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }

  appearance: none;
  position: relative;
  outline: 0;
  border-radius: calc(0.8 * var(--height));
  width: calc(1.625 * var(--height));
  height: var(--height);
  background-color: $border;
  border: 1px solid $border;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--height) - 2px);
    border-radius: calc((var(--height) - 2px) / 2);
    transition: 0.233s;
  }
  &:before {
    width: calc(1.625 * var(--height) - 2px);
    background-color: $grey-lighter;
  }
  &:after {
    width: calc(var(--height) - 2px);
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
  }
  &.checked {
    border-color: nth($primary, 1);
    background-color: nth($primary, 1);

    &:before {
      transform: scale(0);
    }
    &:after {
      transform: translateX(calc(0.625 * var(--height)));
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      &.checked {
        border-color: $color;
        background-color: $color;
      }
    }
  }

  &.is-small {
    --height: $size-small;
  }
  &.is-medium {
    --height: $size-medium;
  }
  &.is-large {
    --height: $size-large;
  }
}
