@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url('../fonts/Nunito.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url('../fonts/Nunito-Bold.woff') format('woff');
}
