$secondary: map-get($colors, 'secondary');

modal,
star-rating {
  display: none;
}

.vue-tooltip-theme {
  background-color: nth($secondary, 1);
  color: nth($secondary, 2);
  padding: .5rem;
  transition: opacity .5s;
}

.hoverhidden {
  padding: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  transition-duration: .3s !important;
  transition-property: background-color, color !important;
  transition-timing-function: ease-in-out !important;
}

.hoverhidden:not(:hover) {
  background-color: #000 !important;
  border-radius: 3px !important;
  color: #000 !important;
  user-select: none !important;
}

.ouc-route-root {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    flex: 1
  }
}

.shadow-floating {
  box-shadow: 0 10px 70px -30px rgba(0, 0, 0, .65) !important;
}

.shadow-inset {
  box-shadow: inset 0 2px 17px -7px rgba(0, 0, 0, .65) !important;
}

.is-borderless {
  border: 0 !important;
}

.fullheight {
  height: 100% !important;
}

.is-thin {
  font-weight: 300 !important;
}

.is-normal {
  font-weight: 400 !important;
}

.is-bold {
  font-weight: 600 !important;
}

.is-extra-bold {
  font-weight: 700 !important;
}

.is-borderless {
  border: 0 !important;
}

.is-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-unselectable {
  user-select: none;
}

.is-fullbleed {
  height: 100%;
  margin: 0;
  width: 100%;
}

.has-bottom-margin:not(:last-child) {
  margin-bottom: 1.5rem;
}

.has-text-reversed {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.is-flex {
  display: flex
}
