div
  navbar
  transition(
    @before-enter="leftRightBeforeAppear",
    @enter="leftRightAppear",
    @before-leave="leftRightBeforeLeave",
    @leave="leftRightLeave",
    :css="false"
  )
    router-view.ouc-app-root
