div
  navbar(is-primary).md-shadow--2
    b-container
      navbar-brand
        router-link(to="/").navbar-item.no-active
          flush-img(source="/img/openusercss.icon-x64.png", placeholder="/img/openusercss.icon-x16.png", height="36px", width="36px")
          .spacer
          span OpenUserCSS
        navbar-burger(@click="toggleOpen")
          span
          span
          span
      navbar-menu(:class="['navbar-menu', 'is-primary', {'is-active': open}]")
        navbar-start
        navbar-end(@click="close")
          router-link(v-if="user", to="/profile").navbar-item
            icon(icon="account")
            | Welcome, {{user.displayname}}
          a(v-if="user", @click.prevent="logout").navbar-item
            icon(icon="logout")
            | Log out
          router-link(to="/").navbar-item
            icon(icon="home")
            | Home
          router-link(v-if="!user", to="/login").navbar-item
            icon(icon="login")
            | Log in
          router-link(v-if="!user", to="/register").navbar-item
            icon(icon="account-plus")
            | Register
          router-link(to="/browse").navbar-item
            icon(icon="folder-multiple")
            | Browse
          a(href="//forums.openusercss.org").navbar-item
            icon(icon="forum")
            | Forums

  .body-spacer
