b-section
  b-columns
    b-column(v-for="(theme, index) in latestThemes")
      theme-card(:data-index="index")
        h4(slot="title") {{theme.title}}
        flush-img(slot="screenshot", :src="theme.screenshotUrl")
        p(slot="description") {{theme.description}}
        p(slot="author-displayname") Full Name here
        h6(slot="author-username") @{{theme.author}}
        img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
