b-section
  b-columns
    b-column(v-for="(theme, index) in latestThemes")
      theme-card(:data-index="index")
        h4(slot="title") {{theme.title}}
        flush-img(slot="screenshot", :src="theme.screenshotUrl")
        p(slot="description") {{theme.description}}
        p(slot="author-displayname") Not yet
        h6(slot="author-username") @{{theme.author}}
        img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
  //- b-columns
    b-column
      theme-card
        h4(slot="title") Test
        img(slot="screenshot", src="https://i.stack.imgur.com/7f3er.jpg")
        p(slot="description")
          | This is not really a theme, but just a test to see how cards will
          | look when the site gets finished.
        p(slot="author-displayname") DecentM
        h6(slot="author-username") @decentm
        img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
    b-column
      theme-card
        h4(slot="title") Test
        img(slot="screenshot", src="https://i.stack.imgur.com/7f3er.jpg")
        p(slot="description")
          | This is not really a theme, but just a test to see how cards will
          | look when the site gets finished.
        p(slot="author-displayname") DecentM
        h6(slot="author-username") @decentm
        img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
    b-column
      theme-card
        h4(slot="title") Test
        img(slot="screenshot", src="https://i.stack.imgur.com/7f3er.jpg")
        p(slot="description")
          | This is not really a theme, but just a test to see how cards will
          | look when the site gets finished.
        p(slot="author-displayname") DecentM
        h6(slot="author-username") @decentm
        img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
    b-column
      theme-card
        h4(slot="title") Test
        img(slot="screenshot", src="https://i.stack.imgur.com/7f3er.jpg")
        p(slot="description")
          | This is not really a theme, but just a test to see how cards will
          | look when the site gets finished.
        p(slot="author-displayname") DecentM
        h6(slot="author-username") @decentm
        img(slot="author-avatar", src="https://en.gravatar.com/userimage/37343181/d66c2e13a3bf375f9e2bd96a9a9f9c54.png", width="40")
