@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Nunito';
    font-size: responsive;
    max-font-size: ((10px - $i * 4) + 30px);
    min-font-size: ((11px - $i * 4) + 25px);
  }
}

p,
a,
li,
div,
ul,
span,
b,
i,
body {
  font-family: 'Nunito';
  font-size: responsive;
  max-font-size: 16.5px;
  min-font-size: 15px;
  text-decoration: none;
  line-height: 24px;
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url('../fonts/Nunito.woff') format('woff'),
      url('../fonts/Nunito.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url('../fonts/Nunito-Bold.woff') format('woff'),
      url('../fonts/Nunito-Bold.ttf') format('truetype');;
}
