extends layouts/main

block page
  if user
    h1 Welcome to this test, #{user.username}
    .notification(data-c-margin-top="2")
      p Here are your details:
      p E-mail: #{user.email}
      p API key: #{user.apikey}
