div
  b-tile(v-for="(item, index) in list", is-parent, is-vertical, is-paddingless).has-bottom-margin
    b-tile
      b-tile(is-child, is-11)
        b-control(v-if="typeof item === 'string'", has-icons-left)
          icon(:icon="icon")
          b-input(
            v-model="list[index]",
            @input="changeItem",
            :placeholder="placeholder"
          )
        b-tile(v-if="typeof item === 'object' && supportObjects")
          b-control(v-for="(value, key) in item", v-if="key !== '__typename'", has-icons-left)
            icon(:icon="icon")
            b-input(
              v-model="list[index][key]",
              @input="changeItem"
            )
      b-tile(is-child, is-1)
        button.button.is-pulled-right.is-danger(@click="removeItem(index)", type="button") X
  b-tile(v-if="supportObjects", is-parent, is-paddingless)
    b-tile(is-child)
      button.button.is-primary(v-if="!listFull", @click="addItem", type="button") Add string {{itemName}}
    b-tile(is-child)
      button.button.is-primary(v-if="!listFull", @click="addObject", type="button") Add object {{itemName}}

  b-tile(v-if="!supportObjects", is-parent, is-paddingless)
    b-tile(is-child)
      button.button.is-primary(v-if="!listFull", @click="addItem", type="button") Add {{itemName}}
