div
  b-tile(v-for="(item, index) in list", is-parent, is-vertical, is-paddingless).has-bottom-margin
    b-tile
      b-tile(is-child, is-11)
        b-control(has-icons-left)
          icon(:icon="icon")
          b-input(
            v-model="list[index]",
            @input="changeItem",
            :placeholder="placeholder"
          )
      b-tile(is-child, is-1)
        b-button(is-pulled-right, is-danger, @click="removeItem(index)", type="button") X
  b-button(v-if="!listFull", is-primary, @click="addItem", type="button") Add {{itemName}}
