noscript
  .background
  .navbar.is-primary
    a(href="/")
      .navbar-brand
        .navbar-item
          img(src="/img/openusercss.icon-x32.png")
        .navbar-item
          span OpenUserCSS
  .container-fluid.fullheight
    .columns.is-marginless.is-vcentered.fullheight
      .column.is-paddingless
        .notification.is-primary.shadow-floating
          .container
            h3.is-bold When the scripts are gone, only ruins may remain.
        .notification.is-primary.shadow-floating
          .container
            p Please enable Javascript or switch to a browser with Javascript support to use OpenUserCSS
  .container
    a(
      href="https://commons.wikimedia.org/wiki/File:Ruins_of_Roman_Forum.jpg",
      target="_blank",
      rel="noopener"
    )
        p "Ruins of the Roman Forum" by Michael Wilson
