transition(
  appear,
  @before-enter="beforeAppear",
  @enter="appear",
  :css="false"
)
  div(v-if="small", :class="cardClass")
    b-box(is-paddingless).ouc-theme-card
      b-tile(is-parent, is-paddingless)
        b-tile(is-3, is-child).ouc-theme-screenshot
          slot(name="screenshot", :height="height")
        b-tile(is-9).ouc-theme-metadata
          b-tile(is-parent, is-vertical)
            b-tile(is-child)
              slot(name="title")
              slot(name="author")

  router-link(v-else="small", :class="cardClass", :to="'/theme/' + themeId")
    b-box(is-paddingless).ouc-theme-card
      b-tile(is-parent, is-paddingless)
        b-tile(is-4, is-child).ouc-theme-screenshot
          slot(name="screenshot", :height="height")
          slot(name="tooltip")
        b-tile(is-8).ouc-theme-metadata
          b-tile(is-parent, is-vertical)
            b-tile(is-child)
              slot(name="title")
              slot(name="author")
            b-tile(is-child)
              slot(name="description")
