/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@import 'node_modules/bulma/sass/utilities/all';
@import 'node_modules/bulma/sass/base/all';

@import 'node_modules/bulma/sass/components/card';
@import 'node_modules/bulma/sass/components/media';
@import 'node_modules/bulma/sass/grid/tiles';
@import 'node_modules/bulma/sass/elements/box';

$background: map-get($colors, 'background');

.has-bottom-margin {
  margin-bottom: 1rem;
}

.is-primary > .box {
  background-color: map-get($tones, 'brand-primary');
  color: text-for-bg(map-get($tones, 'brand-primary'));
}

.ouc-theme-favicon {
  background-color: white;
  border-radius: 50%;
  margin-top: -35px;
  float: right;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  z-index: 2;
}

@import '../../../client/scss/reboot';
