/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../scss/autocolor';
@import '../../../scss/variables';

@import 'node_modules/bulma/sass/utilities/all';
@import 'node_modules/bulma/sass/base/all';

@import 'node_modules/bulma/sass/elements/tag';

.tag {
  padding: 14px;

  &:not(:last-child) {
    margin-bottom: 16px;
    margin-right: 16px;
  }

  > * {
    margin-right: 8px;
  }
}

@import '../../../scss/reboot';
