transition(
  appear,
  v-on:before-appear="beforeAppear",
  v-on:appear="appear",
  v-bind:css="false"
)
  navbar(is-primary)
    a(href="/")
      navbar-brand
        navbar-item
          img(src="/img/openusercss.icon-x32.png")
        navbar-item
          span OpenUserCSS
    navbar-menu
      navbar-start
      navbar-end
        navbar-item
          a(href="/")
            icon(icon="home")
            | Home
        navbar-item
          a(href="/users/login")
            icon(icon="login")
            | Log in
        navbar-item
          a(href="/users/register")
            icon(icon="account-plus")
            | Register
        navbar-item
          a(href="/browse")
            icon(icon="folder-multiple")
            | Browse
        navbar-item
          a(href="//forums.openusercss.org")
            icon(icon="forum")
            | Forums
