transition(
  appear,
  v-on:before-appear="beforeAppear",
  v-on:appear="appear",
  v-bind:css="false"
)
  navbar(is-primary)
    router-link(to="/")
      navbar-brand
        navbar-item
          img(src="/img/openusercss.icon-x32.png")
        navbar-item
          span OpenUserCSS
    navbar-brand
      navbar-item
        b-button(@click="changeTestText")
          p {{testText}}
    navbar-menu(is-primary, is-active)
      navbar-start
      navbar-end
        navbar-item
          router-link(to="/")
            icon(icon="home")
            | Home
        navbar-item
          router-link(to="/login")
            icon(icon="login")
            | Log in
        navbar-item
          router-link(to="/register")
            icon(icon="account-plus")
            | Register
        navbar-item
          router-link(to="/browse")
            icon(icon="folder-multiple")
            | Browse
        navbar-item
          a(href="//forums.openusercss.org", target="_blank")
            icon(icon="forum")
            | Forums
