transition(
  enter,
  v-on:before-enter="leftRightBeforeAppear",
  v-on:enter="leftRightAppear",
  v-on:before-leave="leftRightBeforeLeave",
  v-on:leave="leftRightLeave",
  v-bind:css="false"
)
  b-button(:class="['button', {'is-loading': loading}]")
    icon(:icon="icon")
    slot(name="content")
