transition(
  enter,
  @before-enter="beforeAppear",
  @enter="appear",
  @before-leave="beforeLeave",
  @leave="leave",
  :css="false"
)
  b-button(:class="['button', {'is-loading': loading}]")
    icon(:icon="icon")
    slot(name="content")
