transition(
  v-on:before-leave="beforeLeave",
  v-on:leave="leave",
  :css="false"
)
  div
    navbar
    .section
      .container
        h1 Under construction
        p
          | Please bear with me as I develop this part of the website.
          | In the meantime, check out the 
          a(href="//forums.openusercss.org") forums by clicking here
    attributor
