div
  b-container
    div
      b-section
        notification(v-show="actionErrors.length > 0", icon="alert", color="is-danger").is-danger
          div(slot="content")
            p(v-for="error in actionErrors") {{error}}
        b-level
          b-level-left
            h1 Profile
          b-level-right(v-if="currentUser && currentUser._id === viewedUser._id")
            b-tile(is-parent, is-paddingless)
              b-tile(is-child)
                router-link.button.is-primary(to="/theme/edit/0") Upload new theme
              b-tile(is-child)
                router-link.button.is-primary(to="/account", disabled) Change account details
        b-columns
          b-column(is-6)
            div
              b-box(is-paddingless, is-marginless).ouc-user-card
                b-column(is-paddingless)
                  b-tile(is-parent, is-paddingless)
                    b-tile(is-4)
                      b-tile(is-child).ouc-user-avatar
                        flush-img(:source="viewedUser.avatarUrl", :placeholder="viewedUser.smallAvatarUrl", height="185px", align="left")
                    b-tile(is-8)
                      b-tile(is-parent)
                        b-tile(is-parent)
                          b-tile(is-child, is-parent, is-vertical, is-paddingless)
                            h2 {{viewedUser.displayname}}
                            br
                            p Themes: {{viewedUser.themes ? viewedUser.themes.length : 0}}
                            //- p Installs: {{viewedUser.installs}}
                            //- p Average rating: {{viewedUser.rating}}
              b-box
                b-level(is-mobile)
                  b-level-left
                    icon(v-if="isOnline(viewedUser.lastSeen)", icon="circle", color="#06BC5A")
                    p.ouc-last-seen {{lastOnlineDisplay}}

            hr
            b-box
              h2 About
              hr
              //- p {{viewedUser.description}}
          b-column(is-6)
            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in viewedUser.themes")
                theme-card(:data-index="index", :small="true", direction="horizontal", card-class="is-primary", :themeId="theme._id").has-bottom-margin
                  b-tile(slot="content", is-parent)
                    b-columns
                      b-column
                        h4 {{theme.title}}
                        br
                        h6 Created {{theme.createdAt | moment('from', 'now')}}
                        h6(v-if="theme.createdAt !== theme.lastUpdate") Last updated {{theme.lastUpdate | moment('from', 'now')}}
                        //- hr
                        //- p {{theme.description}}

  attributor
