include ../../static/microdata/user.pug

div.route-root(itemtype="Person")
  +user-microdata

  b-container
    div
      .section
        b-level
          b-level-left
            h1 Profile
          b-level-right(v-if="currentUser && currentUser._id === user._id")
            b-tile(is-parent, is-paddingless)
              b-tile(is-child)
                router-link.button.is-primary(to="/theme/edit") Upload new theme
              b-tile(is-child)
                router-link.button.is-primary(to="/account") Account
        b-columns
          b-column(is-6)
            div
              b-box(is-paddingless, is-marginless).ouc-user-card
                b-column(is-paddingless)
                  b-tile(is-parent, is-paddingless)
                    b-tile(is-4)
                      b-tile(is-child).ouc-user-avatar
                        flush-img(:source="user.avatarUrl", :placeholder="user.smallAvatarUrl", height="185px", align="left")
                    b-tile(is-8)
                      b-tile(is-parent)
                        b-tile(is-parent)
                          b-tile(is-child, is-parent, is-vertical, is-paddingless)
                            h2 {{user.displayname}}
                            br
                            p Themes: {{user.themes ? user.themes.length : 0}}

              b-box
                b-level(is-mobile)
                  b-level-left
                    icon(v-if="isOnline(user.lastSeen)", icon="circle", color="#06BC5A")
                    p.ouc-last-seen {{lastOnlineDisplay}}

            hr
            b-box
              .content
                vue-markdown(
                  :source="user.bio",
                  :html="false",
                  :anchor-attributes="$anchorAttributes"
                )
          b-column(is-6)
            div(v-if="user.donationUrl && user.donationUrl !== ''", is-paddingless)
              a.button.is-primary(:href="user.donationUrl", target="_blank", rel="nofollow noopener")
                | Support {{user.displayname}}'s themes by donating
              hr

            b-columns(is-multiline)
              b-column(is-6, v-for="(theme, index) in user.themes")
                theme-card(:data-index="index", :small="true", direction="horizontal", card-class="is-primary", :theme-id="theme._id").has-bottom-margin
                  b-tile(slot="content", is-parent)
                    b-columns
                      b-column
                        h4 {{theme.title}}
                        br
                        p(v-if="averageRating(theme.ratings) === 0") Not rated yet
                        p(v-if="averageRating(theme.ratings) !== 0")
                          star-rating(
                            :rating="averageRating(theme.ratings)",
                            :item-size="10",
                            :show-rating="false",
                            :read-only="true"
                          )
                        //- p {{ ? "Not rated yet" : averageRating(theme.ratings)}}
                        h6(v-if="theme.createdAt !== theme.lastUpdate") Last updated {{theme.lastUpdate | moment('from', 'now')}}

  ouc-footer
