div
  b-container
    div
      b-section
        b-level
          b-level-left
            h1 Profile
          b-level-right
            b-columns
              b-column
                router-link(to="/theme/new")
                  b-button(is-primary)
                    | Upload new theme
              b-column
                router-link(to="/account")
                  b-button(is-primary)
                    | Change account details
        b-columns
          b-column(is-6)
            div
              b-box(is-paddingless, is-marginless).ouc-user-card
                b-column(is-paddingless)
                  b-tile(is-parent, is-paddingless)
                    b-tile(is-4)
                      b-tile(is-child).ouc-user-avatar
                        flush-img(:source="viewedUser.avatarUrl", :placeholder="viewedUser.smallAvatarUrl", height="185px", align="left")
                    b-tile(is-8)
                      b-tile(is-parent)
                        b-tile(is-parent)
                          b-tile(is-child, is-parent, is-vertical, is-paddingless)
                            h2 {{viewedUser.displayname}}
                            br
                            p Themes: {{viewedUser.themes ? viewedUser.themes.length : 0}}
                            //- p Installs: {{viewedUser.installs}}
                            //- p Average rating: {{viewedUser.rating}}
              b-box
                b-level(is-mobile)
                  b-level-left
                    icon(v-if="isOnline(viewedUser.lastSeen)", icon="circle", color="#06BC5A")
                    p.ouc-last-seen {{lastOnlineDisplay}}

            hr
            b-box
              h2 About
              hr
              //- p {{viewedUser.description}}
          b-column(is-6)
            theme-card(v-for="(theme, index) in viewedUser.themes", :data-index="index", direction="horizontal", card-class="is-primary", :themeId="theme._id").has-bottom-margin
              //- flush-img(slot="screenshot", :source="theme.screenshots[0]", height="135px")
              h4(slot="title") {{theme.title}}
              p(slot="description") {{theme.description}}
              p(slot="author") by {{viewedUser.displayname}}

  attributor
