div.route-root
  b-container
    b-section
      b-columns(is-multiline)
        b-column(is-2)
          div
            p Spinner:
            spinner(:size="50", :spinning="spinning")
            div(style="background-color: black")
              spinner(:size="50", :spinning="spinning")

        b-column(is-2)
          p Notifications:
          b-button(@click="showInfo") Info
          b-button(@click="showSuccess") Success
          b-button(@click="showWarning") Warning
          b-button(@click="showError") Error

  attributor
