div.route-root
  b-container
    .section
      b-columns(is-multiline)
        b-column(is-2)
          div
            p Spinner:
            spinner(:size="50", :spinning="spinning")
            div(style="background-color: black")
              spinner(:size="50", :spinning="spinning")

        b-column(is-2)
          p Notifications:
          button.button(@click="showInfo") Info
          button.button(@click="showSuccess") Success
          button.button(@click="showWarning") Warning
          button.button(@click="showError") Error

  ouc-footer
