extends layouts/main

block page
  h1 Settings
  .container(data-c-margin-top="4")
    .columns
      .column
        .notification.is-primary
          p Your API key:&nbsp;
            span.hoverhidden #{user.apikey}
    .box
      .columns.is-multiline
        .column.is-12
          .container
            p These options will instantly execute their function without "Are you sure?" assertions!
        .column
          .notification
            form(method="post", action="settings/reset-key")
              .tile.is-parent.is-paddingless.is-vertical
                .tile.is-child.is-4
                  .field
                    button.button(type="submit")
                      i.far.fa-key
                      | &nbsp;Reset API key
                .tile.is-child
                  p
                    | Generates a new API key that will replace your current one.
                    | Use it if the current one gets compromised, or at any time
                    | you'd like all previous API access to be revoked.
        .column
          .notification.is-danger
            form(method="post", action="/settings/delete-account")
              .tile.is-parent.is-paddingless.is-vertical
                .tile.is-child
                  .field
                    button.button(type="submit")
                      i.far.fa-trash
                      | &nbsp;Delete account
                .tile.is-child
                  p
                    | Deletes your account from the main SSO store.
                    | Your e-mail address and username will be deleted, and
                    | the e-mail address will be able to be used to create a
                    | new account.
                  p
                    | If you have data on any of my other websites using this
                    | login that you'd like to be deleted as well, please
                    | delete those first, as removals are not syncronized.
