extends ../main

block title
  | E-mail verification

block content
  +row
    p.
      You've requested that we resend this verification e-mail, so here it is.

  +row
    p.
      If you didn't request your address to be verified, someone has accessed your
      account without your permission. In this case, you should reset your password
      immediately.

  +row
    p.
      This link is valid for one day (until #{expires}).

  +row.has-padding-vertical-2(align="center")
    a.button.is-brand-primary.has-padding-1.has-text-white(href=link)
      | Verify

  +row(align="right")
    p #{signoff}

block footer
  +link-fallback(link)

block reason
  | someone requested an e-mail verification for your account
