div
  b-container
    b-section
      b-columns
        b-column
          h1 Not found
          hr
          p {{location.href}} is not attached to any particular page.
          p Either you clicked on a mistyped link or this page has been moved.
          hr
          p If that's not enough, you can check these themes out ^.^
          p Or if you're going back to the Internet, take these with you: 
            icon(icon="shield-outline")
            icon(icon="sword")
        b-column
          showcase
  attributor
