extends ../main

block title
  | Account details changed - E-mail address

block content
  +row
    p.
      The e-mail address associated with your OpenUserCSS account has
      been changed to this one, but you must confirm
      this e-mail before being able to upload themes.

  +row
    p.
      If you did this by mistake or changed your mind, you need to change
      your address back and request a verification e-mail.

  +row
    p.
      If you didn't make this change, someone has gotten into your
      OpenUserCSS account. In this case, you should change your password
      immediately.

  +row.has-padding-vertical-2(align="center")
    a.button.is-brand-primary.has-padding-1.has-text-white(href=link)
      | Verify

  +row(align="right")
    | #{signoff}

block footer
  +link-fallback(link)

block reason
  | someone (hopefully you) changed your e-mail address
