.hoverhidden {
  padding: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  transition-duration: .3s !important;
  transition-property: background-color, color !important;
  transition-timing-function: ease-in-out !important;
}

.hoverhidden:not(:hover) {
  background-color: #000 !important;
  border-radius: 3px !important;
  color: #000 !important;
  user-select: none !important;
}

.shadow-floating {
  box-shadow: 0 10px 70px -30px rgba(0, 0, 0, .65) !important;
}

.shadow-inset {
  box-shadow: inset 0 2px 17px -7px rgba(0, 0, 0, .65) !important;
}

.is-borderless {
  border: 0 !important;
}

.fullheight {
  height: 100% !important;
}

.is-thin {
  font-weight: 300 !important;
}

.is-normal {
  font-weight: 400 !important;
}

.is-bold {
  font-weight: 600 !important;
}

.is-extra-bold {
  font-weight: 700 !important;
}

/*
.container,
.container-fluid {
  &.is-background {
    background-color: map-get($tones, 'brand-background');
    color: text-for-bg(map-get($tones, 'brand-background'));
  }

  &.is-primary {
    background-color: map-get($tones, 'brand-primary');
    color: text-for-bg(map-get($tones, 'brand-primary'));
  }
}
*/
