transition(
  enter,
  v-on:before-enter="leftRightBeforeAppear",
  v-on:enter="leftRightAppear",
  v-on:before-leave="leftRightBeforeLeave",
  v-on:leave="leftRightLeave",
  v-bind:css="false"
)
  b-notification(:class="['notification', color]")
    b-tile(is-ancestor)
      b-tile(is-1).ouc-icon-wrapper
        icon(:icon="icon")
      b-tile
        slot(name="content")
