transition(
  enter,
  v-on:before-enter="beforeAppear",
  v-on:enter="appear",
  v-on:before-leave="beforeLeave",
  v-on:leave="leave",
  v-bind:css="false"
)
  b-notification(:class="['notification', color]")
    b-tile(is-ancestor)
      b-tile(is-1).ouc-icon-wrapper
        icon(:icon="icon")
      b-tile
        slot(name="content")
