/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@import 'node_modules/bulma/sass/utilities/all';
@import 'node_modules/bulma/sass/base/all';

@import 'node_modules/bulma/sass/elements/container';
@import 'node_modules/bulma/sass/elements/box';
@import 'node_modules/bulma/sass/elements/form';
@import 'node_modules/bulma/sass/elements/button';
@import 'node_modules/bulma/sass/grid/columns';
@import 'node_modules/bulma/sass/grid/tiles';
@import 'node_modules/bulma/sass/layout/section';
@import 'node_modules/bulma/sass/components/level';

textarea[name="description"] {
  resize: vertical;
  height: 200px;
  max-height: 400px;
  min-height: 50px;
}

.is-primary {
  background-color: map-get($tones, 'brand-primary');

  a,
  p {
    color: white
  }
}

.ouc-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-half-width {
  width: 50%
}

.is-fullwidth {
  width: 100%
}

.is-fullheight {
  height: 100%
}

.is-horizontal-spacer {
  display: inline;
  padding-left: .25rem;
  padding-right: .25rem;
}

@import '../../../client/scss/reboot';
