- const thisYear = new Date().getFullYear()

mixin metas
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="robots", content="index,follow,noodp")
  meta(name="googlebot", content="index,follow")
  meta(name="mobile-web-app-capable", content="yes")

mixin top-assets
  script.
    (function (document) {
      var indicatorElement = document.createElement('div');

      indicatorElement.classList.add('loading-indicator');
      indicatorElement.style.position = 'absolute';
      indicatorElement.style.width = '100%';
      indicatorElement.style.height = '100%';
      indicatorElement.style.bottom = 0;
      indicatorElement.style.display = 'flex';
      indicatorElement.style.justifyContent = 'center';
      indicatorElement.style.alignItems = 'center';
      indicatorElement.style.backgroundColor = 'black';
      indicatorElement.style.zIndex = 100;

      indicatorElement.innerHTML = '<span style="color: white;">Loading...</span>';

      document.querySelector('body').append(indicatorElement);
    })(window.document)
  style(type="text/css").
    html {
      overflow-y: scroll
    }

mixin bottom-assets
  script(type="text/javascript", src="/js/bundle.min.js", data-instant-track, defer)
  link(type="text/css", rel='stylesheet', href='/css/bundle.min.css')

mixin frame
  doctype html
  html.no-js
    head
      title OpenUserCSS
      +metas
      body
        +top-assets
        noscript
          .background
          .navbar.is-primary
            a(href="/")
              .navbar-brand
                .navbar-item
                  img(src="/img/openusercss.icon-x32.png")
                .navbar-item
                  span OpenUserCSS
          .container-fluid.fullheight
            .columns.is-marginless.is-vcentered.fullheight
              .column.is-paddingless
                .notification.is-primary.shadow-floating
                  .container
                    h3.is-bold When the scripts are gone, only ruins may remain.
                .notification.is-primary.shadow-floating
                  .container
                    p Please enable Javascript or switch to a modern browser to use OpenUserCSS
          .container
            a(
              href="https://commons.wikimedia.org/wiki/File:Ruins_of_Roman_Forum.jpg",
              target="_blank",
              rel="noopener"
            )
                p "Ruins of the Roman Forum" by Michael Wilson
        if block
          block
      +bottom-assets

+frame
  block page
