- const thisYear = new Date().getFullYear()

mixin metas
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="robots", content="index,follow,noodp")
  meta(name="googlebot", content="index,follow")
  meta(name="mobile-web-app-capable", content="yes")
  
mixin bottom-assets
  script(type="text/javascript", src="/js/bundle.min.js", data-instant-track, defer)
  link(type="text/css", rel='stylesheet', href='/css/bundle.min.css')

mixin frame
  doctype html
  html.no-js
    head
      title OpenUserCSS
      +metas
      body
        noscript
          .container-fluid.has-text-centered.is-background
            .columns.is-vcentered.fullheight.is-marginless
              .column.is-paddingless
                .notification.is-secondary
                  h3.is-bold When the scripts are gone, only ruins may remain.
                .notification.is-secondary
                  h6 Please enable Javascript
        if block
          block
        //- nav.navbar.is-primary(role="navigation", aria-label="main navigation")
          .navbar-brand
            a.navbar-item(href="/")
              | DecentM Accounts
            button.button.navbar-burger.is-primary(data-target="navMenu")
              span
              span
              span
          .navbar-menu#navMenu
            .navbar-end
              if user
                a.navbar-item(href="/settings") Settings
                a.navbar-item(href="/users/logout") Logout
              else
                a.navbar-item(href="/users/login") Login
                a.navbar-item(href="/users/register") Register
        //- .section
          .container
            include ../elements/flashes
            if block
              block
        //- .footer.is-paddingless(data-c-margin-top="2")
          .container(data-c-padding="6")
            .content.has-text-centered
              p Copyright &copy; #{thisYear} DecentM
      +bottom-assets

+frame
  block page
