mixin metas
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="robots", content="index,follow,noodp")
  meta(name="googlebot", content="index,follow")
  meta(name="mobile-web-app-capable", content="yes")
  
mixin bottom-assets
  script(type="text/javascript", src="/js/script.js", data-instant-track, async, defer)
  script(type="text/javascript", src="/js/fontawesome.min.js", data-instant-track, defer)
  script(type="text/javascript", src="/js/brands.min.js", data-instant-track, async, defer)
  script(type="text/javascript", src="/js/regular.min.js", data-instant-track, async, defer)
  link(type="text/css", rel='stylesheet', href='/css/bulma.css')
  link(type="text/css", rel='stylesheet', href='/css/cly.min.css')
  link(type="text/css", rel='stylesheet', href='/css/styles.css')

mixin frame
  doctype html
  html.no-js
    head
      title Your DecentM account
      +metas
      body
        nav.navbar.is-primary(role="navigation", aria-label="main navigation")
          .navbar-brand
            a.navbar-item(href="/")
              | DecentM Accounts
            button.button.navbar-burger.is-primary(data-target="navMenu")
              span
              span
              span
          .navbar-menu#navMenu
            .navbar-end
              if user
                a.navbar-item(href="/users/logout") Logout
              else
                a.navbar-item(href="/users/login") Login
                a.navbar-item(href="/users/register") Register
        .container(data-c-padding-top="4", data-c-padding="2")
          include ../elements/flashes
          if block
            block
        .footer.is-paddingless(data-c-margin-top="2")
          .container(data-c-padding="6")
            .content.has-text-centered
              p Copyright &copy; 2017 DecentM
      +bottom-assets

+frame
  block page
