- const thisYear = new Date().getFullYear()

mixin metas
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="robots", content="index,follow,noodp")
  meta(name="googlebot", content="index,follow")
  meta(name="mobile-web-app-capable", content="yes")

mixin top-assets
  script.
    var loadingIndicator = function () {
      var indicatorElement = document.createElement('div');

      indicatorElement.classList.add('loading-indicator');
      indicatorElement.style.position = 'absolute';
      indicatorElement.style.width = '100%';
      indicatorElement.style.height = '100%';
      indicatorElement.style.bottom = 0;
      indicatorElement.style.display = 'flex';
      indicatorElement.style.justifyContent = 'center';
      indicatorElement.style.alignItems = 'center';
      indicatorElement.style.backgroundColor = 'black';
      indicatorElement.style.zIndex = 100;

      indicatorElement.innerHTML = '<span style="color: white;">Loading...</span>';

      document.querySelector('body').append(indicatorElement);
    }
    loadingIndicator();

mixin bottom-assets
  script(type="text/javascript", src="/js/bundle.min.js", data-instant-track, defer)
  link(type="text/css", rel='stylesheet', href='/css/bundle.min.css')

mixin frame
  doctype html
  html.no-js
    head
      title OpenUserCSS
      +metas
      body
        +top-assets
        noscript
          .container-fluid.has-text-centered.is-background
            .columns.is-vcentered.fullheight.is-marginless
              .column.is-paddingless
                .notification.is-secondary
                  h3.is-bold When the scripts are gone, only ruins may remain.
                .notification.is-secondary
                  h6 Please enable Javascript
        if block
          block
      +bottom-assets

+frame
  block page
