/* vue:scoped */
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

.spinner-root {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spinner {
  animation-name: spin;
  animation-duration: .65s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  border-top-style: solid;
  border-top-color: nth($primary, 1);
  border-bottom-style: solid;
  border-bottom-color: nth($primary, 2);
  border-radius: 50%;

  &.spinning {
    animation-play-state: running;
  }
}
