/* vue:scoped */

@import 'node_modules/bulma/sass/utilities/initial-variables';
@import '../../../client/scss/autocolor';
@import '../../../client/scss/variables';

@import 'node_modules/bulma/sass/utilities/all';
@import 'node_modules/bulma/sass/base/all';

@import 'node_modules/bulma/sass/components/navbar';
@import 'node_modules/bulma/sass/elements/container';
@import 'node_modules/bulma/sass/elements/tag';

$primary: map-get($colors, 'primary');
$background: map-get($colors, 'background');

.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: map-get($kerning, 'navbar-height');
}

.body-spacer {
  height: map-get($kerning, 'navbar-height');
}

.navbar-brand {
  img {
    max-height: map-get($kerning, 'navbar-height');
    min-height: map-get($kerning, 'navbar-height');
  }
}

.navbar-menu {
  &.is-primary {
    background-color: map-get($tones, 'brand-primary');
  }
}

.spacer {
  width: 1rem;
}

.navbar-item:not(.no-active) {
  &.router-link-exact-active {
    background-color: nth($background, 1);
    color: nth($background, 2);
  }

  &:not(.router-link-exact-active):not(:hover) {
    background-color: nth($primary, 1) !important;
    color: nth($primary, 2) !important;
  }
}

@import '../../../client/scss/reboot';
