extends ../main

block title
  | Account details changed - Passphrase

block content
  +row
    p.
      Your passphrase has been changed.
  
  +row
    p.
      There is no need for verification, but if you didn't do this,
      your account was logged into by someone you shouldn't trust.

  +row
    p
      a(href="https://openusercss.org/account")
        | Click here if you want to reset your passphrase.
  
  +row(align="right")
    p Stay safe!

block reason
  | someone (hopefully you) changed your passphrase
